.productsArea {
    margin-bottom: 80px !important;
  }
  
  .product-card {
    box-shadow: none;
  }
  
  .firstCartBtn {
    padding: 3px 22px !important;
    border-color: rgba(93, 151, 238, 0.644) !important;
    color:rgba(93, 151, 238, 0.644) !important ;
  }
  .secondCartBtn {
    padding: 3px 22px !important;
    border-color: rgb(255, 60, 0) !important;
    color:rgb(255, 60, 0)  !important ;
  }
  .thirdCartBtn {
    padding: 3px 22px !important;
    border-color: rgba(20, 114, 255, 0.877) !important;
    color:rgb(0, 102, 255) !important ;
  }
  
  .secondImgArea {
    background-color: #bf8767 !important;
  }
  .thirdImgArea {
    background-color: #a2cde8 !important;
  }
  .buttonCart {
    text-align: start !important;
  }
  
  .productsArea .product-card button {
    margin-top: 2px !important;
  }
  
  .firstCartRate {
    text-align: start !important;
   padding-top: 22px;
   color: rgb(0, 0, 168) !important;
   font-weight: bold;
  }
  
  .secondCartRate {
    text-align: start !important;
   padding-top: 22px;
   color:rgb(187, 44, 0) !important ;
   font-weight: bold;
  
  }
  
  .thirdCartRate {
    text-align: start !important;
   padding-top: 22px;
  color: rgb(0, 154, 206) !important;
  font-weight: bold;
  }
  
  
  .productsArea .product-card {
    /* margin: 20px 0;
    margin-bottom: 40px; */
    -webkit-box-shadow: 5px -1px 14px 1px rgb(0 0 0 / 41%);
     box-shadow: 5px -1px 14px 1px rgb(0 0 0 / 41%);
  }
  
  .productsArea .product-card .col-md-6:nth-child(1) {
    background: #8b95b9;
  }
  
  .imageArea > div {
    margin: 9px;
  }
  
  .productsArea .product-card .col-md-6:nth-child(2) {
    padding: 10px;
    padding-bottom: 30px;
  }
  
  .productsArea .product-card p {
    color: #8b95b9;
    font-weight: 550;
    margin-bottom: 0;
  }
  
  .productsArea .product-card .buttonCart {
    text-align: center;
  }
  
  .productsArea .product-card button {
    padding: 7px 7px;
    border: 1px solid #8b95b9;
    border-radius: 2px;
    margin-top: 25px;
    font-size: 13px;
  }
  
  .productsArea .product-card button:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .productsArea .product-card .imageArea {
    position: relative;
  }
  
  .productsArea .product-card .imageArea img {
    position: absolute;
    top: -45px;
  }
  
  .productsArea .product-card h6 {
    font-size: 13px;
    font-weight: 550;
  }
  .brandInsideTitle {
    border-bottom: 0px !important;
  }
  
  
  
  
  .brandsOnSale .row .col-md-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 1000px) {
    .productsArea .product-card .imageArea img {
      position: unset;
    }
    .imageArea {
      text-align: center;
    }
    .navbar-nav.navitms.mb-2.mb-lg-0 {
      margin-left: 10px;
    }
  }
  @media only screen and (max-width: 1100px )  {
    .productSectionContent {
      display: flex ;
      justify-content: center !important;
    }
  }
  @media only screen and (max-width: 1500px) {
    .productSectionContent {
      display: flex ;
      justify-content: space-around !important;
    }
    .product-card-container {
      max-width: 400px;
      min-width: 300px;
    }
  }
  @media only screen and (max-width: 2000px) {
    .productSectionContent {
      display: flex ;
      justify-content: space-around !important;
    }
    .product-card-container {
      max-width: 600px;
    }
  }
  @media only screen and (max-width: 768px) {
   
    .product-card-container {
      width: 350px !important;
    }
  }
  @media only screen and (max-width: 450px) {
   
    .product-card-container {
      width: 300px !important;
    }
  }
  @media only screen and (max-width: 1200px) {
   
    .product-card-container {
      width: 300px ;
    }
  }
.product-card .product-title{
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}

.product-card .left-image{
  background-color:#8b95b9 ;
}

.product-card .left-image img{
  top: -43px;
  width: 80%;
  margin: auto;
  position: absolute;
  height: 100%;
}

.product-card-container{
  padding: 10px;
  margin-bottom: 20px;
}

.firstCartBtn1 {
  padding: 8px 22px !important;
  border-color: rgba(93, 151, 238, 0.644) !important;
  color:rgba(93, 151, 238, 0.644) !important ;
}
   